.my-list {

  &.is-active {
    width: calc((100% / 12) * 6);
      padding: 0px 25px;

    .my-list__container {
      &-splash-text {
        width: 100%;
      }
    }
  }

  &:not(.is-active){
    width: calc((100% / 12) * 1);

    @include small-screen {
      width: 50%;
    }

    @include medium-screen {
      width: calc((100% / 12) * 2);
    }

    .my-list__heading {
      @include small-screen {
        &-toggle {
          position: relative;
          left: -75px;
        }
      }
    }

    .verb__form {
      &:not(:first-child){
        display: none;
      }
    }
  }

  &__heading {
    display: flex;
    flex-flow: row nowrap;
    justify-content: left;
    border-bottom: $border;

    &-toggle {
      background: $c-primary;
      font-size: 16px;
      line-height: 40px;
      width: 40px;
      border-radius: 20px;
      margin: 10px 0px;
      cursor: pointer;
      transition: all .1s;

      &:hover {
        background-color: $c-primary-shade;
        color: $c-font-dark;
      }
    }
  }

  &__container {
    height: calc(100% - 100px);
    overflow-y: scroll;

    &-splash-text {
      margin: 10px;
      color: $c-font-light;
      font-weight: 200;
      font-style: italic;
    }
  }
}
