.verb-list {
  width: calc(((100% /12) * 6));
  padding: 0px 25px;

  @include small-screen {
    width: 50%;
  }

  @include medium-screen {
    width: calc(((100% / 12) * 5));
  }

  &__heading {
    border-bottom: $border;

    &-title {
      padding-left: 10px;
      margin-left: 0px;
    }

    &-forms {
      display: flex;
      padding-right: 60px;
      color: $c-font-light;
      text-transform: uppercase;

      @include small-screen {
        display: none;
      }

      li {
        padding: 20px 10px;
        flex: 1;
      }
    }
  }

  &__container {
    height: 100%;
    overflow-y: scroll;
  }
}
