.verb-list {
  width: calc(((100% /12) * 6));
  padding: 0px 25px;

  &__heading {
    border-bottom: $border;

    &-title {
      padding-left: 10px;
      margin-left: 0px;
    }
  }

  &__container {
    height: 100%;
    overflow-y: scroll;
  }
}
