.verb-list {
    width: calc(((100% /12) * 6));
    padding: 0px 10px;
    // display: flex;
    // flex-flow: column nowrap;

    h3 {
      padding-left: 25px;
    }


    .verb-list__container {
      overflow-y: scroll;
      flex-flow: column nowrap;
    }

    &__btn-add-my-list {
      flex: 0 0 100px;
      border: $border;
      border-top-width: 0px;
      background: none;

      &:hover {
        background-color: $c-primary-shade;
      }
    }
}
