.verb {
  border-bottom: $border;
  line-height: 60px;
  transition: all .1s;

  @include small-screen {
    flex-direction: column;
    height: 60px;
    overflow: hidden;
    position: relative;
    transition: all .2s;

    &.is-expanded {
      height: calc(60px * 5);

      .verb__form:nth-child(5) {
        order: -1;
      }
    }
  }


  &:hover {
    @include large-screen {
      background-color: $c-primary-light;
      color: $c-font-dark;

      .verb__action-toggle {
        background-color: $c-primary-shade;
      }
    }
  }

  &__form {
    flex: 1 1 calc(100% / 5);
    padding: 0px 10px;
    white-space: nowrap;
    position: relative;
    background-color: transparent;
    transition: all .1s;



    &.isCorrect {
      background-color: $c-confirm;
      color: $c-primary-light;

      &:after {
        content: '\f058';
        font-family: 'FontAwesome';
        font-size: 20px;
        color: darken($c-confirm, 30%);
        position: absolute;
        right: 30px;
      }
    }

    input {
      width: 100%;
      font-size: 16px;
      color: $c-font-light;
      padding: 0px;
      line-height: 1.5;
      border: $border;
      border-width: 0px;
      border-bottom: 1px solid $c-primary-shade;
      position: relative;
      background-color: transparent;
      outline: none;
      transition: all .1s;

      &.isCorrect {
        color: $c-primary-light;
        color: darken($c-confirm, 30%);
        border-bottom-color: darken($c-confirm, 30%);
      }
    }

    &:nth-child(4) {
      padding-left: 40px;

      &.isCorrect {
        &:before {
          color: darken($c-confirm, 30%);
          border-bottom: $border-confirm;
        }
      }
      &:before {
        content: 'har ';
        position: absolute;
        left: 10px;
        width: 40px;
        height: 43px;
      }
    }

    @include small-screen {
      flex: 0 0 60px;
      overflow: hidden;
    };
  }

  &__actions {
    display: flex;
    flex: 0 0 50px;

    @include small-screen {
      position: absolute;
      top: 0px;
      right: 0px;
    }

    .verb__action-expand {
      display: none;
      @include small-screen {
        display: inline-block;
      }
    }

    button[class^="verb__action"] {
      width: 100%;

      .verb__action-toggle {
        background: $c-primary;
        color: $c-font;
        font-size: 16px;
        line-height: 40px;
        width: 40px;
        border-radius: 20px;
        margin: 10px;
        cursor: pointer;
        transition: all .1s;

        &:hover {
          @include large-screen {
            background-color: $c-primary-shade;
            color: $c-font-dark
          }
        }
      }
    }
  }
}
